/*from https://neumorphism.io/#55b9f3 */
body {
  background: linear-gradient(315deg, #fff800, #d7d100);
}
button {
  height: 110px;
  width: 110px;
  border-radius: 11px;
  background: linear-gradient(315deg, #fff800, #d7d100);
  box-shadow: -41px -41px 43px #9b9700, 41px 41px 43px #ffff00;
}
