*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 85vw;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 4rem;
    font-size: 3.2rem;
    font-weight: 800;
}

img {
    border-radius: 10px;
    display: block;
    margin: 2rem auto;
    width: 600px;
    height: 470px;
    object-fit: cover;
    border: 1px solid black;
}
